body{
	margin: 0;
}


header{
	background-color: rgba(255,0,0,0.1);
}


.welcome-message{
	background-color: rgba(0,255,0,0.1);
}


.content{
	background-color: rgba(0,0,255,0.1);
	display: flex;
}
.page-side{
	background-color: rgba(0,0,255,0.2);
}
.page-main{
	background-color: rgba(0,0,255,0.2);
}


footer{
	background-color: rgba(255,255,0,0.1);
}
